.pointsDisplay{
	display: inline-block;
	vertical-align: top;
	margin: 31px 5px;
	width: 55px;
	text-align: right;
}

.voteStatus{
	display: inline-block;
	vertical-align: top;
	margin: 19px 10px;
}

.linkInfo{
	display: inline-block;
	width: calc(100% - 105px);
	background-color: #eff0f1;
	border-radius: 5px;
	padding: 0px 10px;
}

.showLink{
	text-align: left;
	margin: 3px;
	/* background-color: #eff0f1; */
	
}

.linkIcon{
	margin: 0px 10px;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}

.linkWrap{
	white-space: nowrap; 
    overflow: hidden;
	text-overflow: ellipsis;
	max-width: 80%;
	display: inline-block;
	vertical-align: top;
}

.mainLink{
	color: #007bff !important;
	cursor: pointer;
}

.mainLink:hover{
	text-decoration: underline !important
}